<!DOCTYPE html>
<html>
<head>
    <title>Budgeting App</title>
</head>
<body>
    <h1>WalletO</h1>

    <h2>Select a User</h2>
    <ul>
        {% for user in users %}
        <li><a href="{{ url_for('dashboard', user_id=user.id) }}">{{ user.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Create a New User</h2>
    <form method="POST" action="{{ url_for('create_user') }}">
        Name: <input name="name"><br>
        Email: <input name="email"><br>
        Password: <input name="password"><br>
        <button type="submit">Create User</button>
    </form>
</body>
</html>